{% load thumbnail %}
{% load i18n %}

<div class="col-md-4 col-lg-2 card mb-1 p-1 shadow-sm">
    <div class="text-center">
        <a href="{% url 'imageview' img.pk %}">
            <img class="img-fluid" src="{{ img.filepath|thumbnail_url:'small' }}" />
        </a>
    </div>
    <div class="card-body">
        <div class="float-right">
            <a href="{% url 'imageview' img.pk %}" class="btn btn-sm btn-outline-secondary">{% trans "View" %}</a>
        </div>
        <p class="card-text">
            #{{ img.pk }}
        </p>
    </div>
</div>
