<!doctype html>

{% load i18n %}
{% load static %}

<html>
    <head>
        <title>{% trans "Pictures" %}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{% static "bootstrap/dist/css/bootstrap.min.css" %}">
        <link rel="stylesheet" href="{% static "select2/dist/css/select2.min.css" %}">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{% url "homepage" %}">{% trans "Pictures" %}</a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url "search" %}">{% trans "Search" %}</a>
                </li>
            </ul>
        </nav>

        <br>

        <main class="container-fluid">
            {% block content %}
            {% endblock %}
        </main>

        <script src="{% static "jquery/dist/jquery.min.js" %}"></script>
        <script src="{% static "select2/dist/js/select2.min.js" %}"></script>

        <script>
            $(function() {
                $(".selectmultiple").select2({
                    width: 'element'
                });
            });
        </script>
    </body>
</html>
