{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load thumbnail %}

{% block content %}
<div class="row">
    <div class="col">
        <h2>{% trans "Picture" %} #{{ object.pk }}</h2>

        <a href="{{ back_url }}" class="btn btn-sm btn-outline-secondary">&lt; {% trans "Back to list" %}</a>
        {% if user.is_authenticated %}
        <a href="{% url "admin:imggallery_image_change" object.pk %}" class="btn btn-sm btn-outline-secondary">{% trans "Edit" %}</a>
        {% endif %}

    </div>
</div>

<br>

<div class="row">
    <div class="col">
        <div>
            {{ object.filepath }}<br>

            {% if object.tags.all|length > 0 %}
                {% for t in object.tags.all %}
                    <span class="badge badge-primary">{{ t.name }}</span>
                {% endfor %}
                <br>
            {% endif %}

            <a href="{{ object.filepath.url }}">
                <img src="{{ object.filepath|thumbnail_url:'regular' }}" />
            </a>
        </div>

        {% if object.comment|length > 0 %}
            <br>

            <h3>{% trans "Comment" %}</h3>

            <p>{{ object.comment|linebreaksbr }}</p>
        {% endif %}

        {% if aliases|length > 0 %}
            <br>

            <h3>{% trans "Same images" %}</h3>

            <div class="row">
            {% for img in aliases %}
                {% include "_img_list.html" %}
            {% endfor %}
            </div>
        {% endif %}

        {% if object.alias_of is not None %}
            <br>

            <h3>{% trans "Main image" %}</h3>

            <div class="row">
                {% include "_img_list.html" with img=object.alias_of %}
            </div>
        {% endif %}

        {% if object.comes_from is not None %}
            <br>

            <h3>{% trans "Original image" %}</h3>

            <div class="row">
                {% include "_img_list.html" with img=object.comes_from %}
            </div>
        {% endif %}

        {% if decomposition|length > 0 %}
            <br>

            <h3>{% trans "This image is splitted:" %}</h3>

            <div class="row">
            {% for img in decomposition %}
                {% include "_img_list.html" %}
            {% endfor %}
            </div>
        {% endif %}
    </div>
</div>


{% endblock %}

