{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-sm">
        <h2>{% trans "List of pictures" %}</h2>
    </div>
</div>

<div class="row">
{% for img in object_list %}
    {% include "_img_list.html" %}
{% endfor %}
</div>

<br>

<div class="d-flex justify-content-center">
    <ul class="pagination flex-wrap">
        <li class="page-item disabled">
            <span class="page-link">{% trans "Pages" %}</span>
        </li>
        {% for i in page_obj.paginator.page_range %}
        <li class="page-item {% if page_obj.number == i %}active{% endif %}">
            <a href="?page={{ i }}" class="page-link">{{ i }}</a>
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}
