{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row">
    <div class="col-sm">
        <h2>{% trans "Search" %}</h2>
    </div>
</div>

{% crispy form %}

{% if results %}
    <br>

    <h3>{% trans "Results" %}</h3>

    <div class="row">
    {% for img in results %}
        {% include "_img_list.html" %}
    {% endfor %}
    </div>
{% endif %}

{% endblock %}
